.box-1 {
  color: red;
  margin: 5px;
  padding: 5px;
  border: 1px solid red;
  width: 50px;
  height: 50px; }

.box-2 {
  color: blue;
  margin: 7px;
  padding: 7px;
  border: 1px solid red;
  width: 50px;
  height: 50px; }

.jumbotron {
  background-color: red;
  color: white;
  border-radius: 0; }

.main-banner {
  margin-top: 55px; }

.c-breadcrumb > ol {
  background-color: blue;
  color: white; }

.c-breadcrumb > ol a,
.c-breadcrumb > ol li,
.c-breadcrumb > ol li.active,
.breadcrumb-item + .breadcrumb-item::before {
  color: white; }

.hotel-items .card {
  border-color: #4a148c; }

.hotel-items .card p {
  color: #6f6f6f; }

.hotel-items .card .card-header {
  background-color: #26a69a;
  color: white;
  text-align: center; }

.hotel-items .card .card-header .card-title {
  margin-bottom: 0; }

.hotel-items .card .card-footer {
  padding: 0; }

.hotel-items .card .card-footer .btn {
  border-radius: 0; }

.footer {
  background-color: #26a69a;
  color: white; }

.footer a,
.footer p {
  color: white;
  line-height: 1; }

a.btn.btn-primary,
button.btn.btn-primary {
  background-color: #f06292;
  border-color: #f06292; }
